
<div class="panel" data-conversation-id="<%= conversation.id %>" style="border-radius: 0px">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-minus" style="color: #A0A0A0"></i>
      <%= link_to conversation.opposed_user(user).name, '', class: 'toggle-window bold', style: "font-size: 130%" %> 
    <%= link_to "x", close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
  </div>

  <div class="panel-body" style="display: none;">
    <div class="messages-list">
      <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
    </div>
    <form class="new_message">
      <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
      <input name="user_id" type="hidden" value="<%= user.id %>">
      <textarea name="body" class="form-control"></textarea>
      <input type="submit" class="btn btn-success" value="Send">
    </form>
  </div>
</div>
      
