  <style>
    .toggler { width: auto; height: auto; position: relative; hidden-xs}
    #button { text-decoration: none; }
    #effect { width: auto; height: auto;  position: relative; background: #fff; }
  </style>
  <script>
  $( function() {
    var state = true;
    $( "#button" ).on( "click", function() {
      if ( state ) {
        $( "#effect" ).animate({
          backgroundColor: "#284c79",
          color: "white",
          width: "50%"
        }, 1000 );
      } else {
        $( "#effect" ).animate({
          backgroundColor: "white",
          color: "white",
          width: "100%"
        }, 1000 );
      }
      state = !state;
    });
  } );
  </script>

<div class="container" style="margin-top: 80px">
  <div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">     
      <div class="panel" style="border-radius: 0px">
        <div class="panel-heading">
          <h1 class="panel-title">Pending Friend Requests</h1>
        </div>
        <div class="panel-body">
          <% @users.each do |user| %>
            <% is_friend = current_user.friends.include?(user) %>
            <% accepted = current_user.friendships.where(accepted: true) %>
            <% accepted_user = user.friendships.where(accepted: true)  %>
            <% accepted_friend = accepted.find_by(user_id: user.id) || accepted.find_by(friend_id: user.id) || accepted_user.find_by(user_id: user.id) || accepted_user.find_by(friend_id: user.id) %>
            <% i_friend_of_u = user.friends.include?(current_user) %>
            <% if !is_friend && i_friend_of_u && !accepted_friend %>
            <div class="row">               
              <div class="col-md-3">
                <%= image_tag user.image.url, style: "height: 80; width: 80", class: "img-responsive" %>
              </div>
              <div class="col-md-3">
                <a style="color: #A9A9A9" href="<%= user_path(user) %>"><%= user.name.capitalize %></a>
                <p style="color: #A9A9A9"><%= user.email %></p>
              </div>
              <div class="col-md-6">            
                <%= link_to 'Accept Friend Request', friend_path(id: user.id), method: :patch, class: "font btn btnfriend", style: "max-height: 20px; min-width: 130px; font-size: 80%" %>
                <%= link_to 'Ignore Friend Request', friend_path(id: user.id), method: :delete, class: "font btn btn-default", style: "max-height: 20px; min-width: 130px; font-size: 80%" %>
              </div>  
            </div><br><br>    
              <% @boolean = true %>              
            <% end %>     
          <% end %>
          <% if !@boolean %>
            <h5 style="font-weight: 900">No New Friend Requests</h5> 
          <% end %>               
        </div>
      </div>
      <% @users.each do |user| %>
        <% if user != current_user %>
          <div class="row">
            <div class="col-md-12 toggler col-xs-12 col-sm-12">
              <div class="panel panel-default ui-widget-content ui-corner-all" id="effect" style="border-radius: 0px">
                <div class="panel-body">
                  <div class="col-md-2 col-xs-12 col-sm-12" style="margin-top: -15px; margin-left: -30px">
                    <%= image_tag user.image.url, style: "height: 80; width: 80", class: "img-responsive" %>
                  </div>
                  <div class="col-md-3 col-xs-12 col-sm-12 name2">
                    <a style="color: #A9A9A9" href="<%= user_path(user) %>"><%= user.name.capitalize %></a>
                    <p style="color: #A9A9A9"><%= user.email %></p>
                  </div> 
                  <div class="col-md-7 col-md-push-3 col-xs-12 col-sm-12">
                    <div class="row" style="margin-top: 10px">
                      <div class="col-md-8 col-xs-12 col-sm-12">                    
                        <% is_friend = current_user.friends.include?(user) %>
                        <% accepted = current_user.friendships.where(accepted: true) %>
                        <% accepted_user = user.friendships.where(accepted: true)  %>
                        <% accepted_friend = accepted.find_by(user_id: user.id) || accepted.find_by(friend_id: user.id) || accepted_user.find_by(user_id: user.id) || accepted_user.find_by(friend_id: user.id) %>
                        <% i_friend_of_u = user.friends.include?(current_user) %>
                        <% if !is_friend && !i_friend_of_u && !accepted_friend %> 
                        <%= link_to '+ Add Friend', friends_path(friend_id: user), method: :post, class: "font btn btnfriend", style: "max-height: 25px; min-width: 130px; font-size: 110%; color: white; border: 1px solid white" %>
                        <% elsif !is_friend && i_friend_of_u && !accepted_friend %>
                          <%= link_to 'Accept Friend Request', friend_path(id: user.id), method: :patch, class: "font btn btnfriend", style: "max-height: 20px; min-width: 130px; font-size: 80%; margin-left: -10px; border: 1px solid white; color: white" %>
                          <%= link_to 'Ignore Friend Request', friend_path(id: user.id), method: :delete, class: "font btn btn-default", style: "max-height: 20px; min-width: 130px; font-size: 80%" %> 
                        <% elsif is_friend && !accepted_friend %>
                          <span class="label label-success" style="max-height: 20px; min-width: 130px; font-size: 80%">Friend Request Sent</span>
                          <%= link_to 'Cancel Friend Request', friend_path(id: current_user.id), method: :delete, class: "font btn btn-danger", style: "max-height: 20px; min-width: 120px; font-size: 75%; margin-top: 10px; color: white" %>
                        <% end %>                               
                        <% if accepted_friend %>
                          <%= link_to 'Cancel Friendship', friend_path(id: user.id), method: :delete, data: { confirm: 'Are you sure you want to cancel friendship?' }, class: "font btn btn-danger", style: "max-height: 20px; min-width: 130px; font-size: 80%" %>
                        <% end %>
                        <button id="button" class="ui-state-default ui-corner-all glyphicon glyphicon-backward" style="margin-left: 10px;padding-right: 20px; max-width: 15px;"></button>
                      </div> 
                    </div>                    
                  </div>                      
                </div>
              </div>
            </div>  
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-12">
      <div class="panel" style="border-radius: 0px">
        <div class="panel-heading">
          <h3 class="panel-title">Add Personal Contacts</h3>
        </div><hr>
        <div class="panel-body">
          
        </div>
      </div>
      <div class="panel" style="border-radius: 0px">
        <div class="panel-heading">
          <h3 class="panel-title">Serach For Friends</h3>
        </div><hr>
        <div class="panel-body">
          
        </div>
      </div>      
    </div>
  </div>
</div>


 
