<div class="row">
	<h1 style="text-decoration: underline">List Of Socialists</h1>
</div><br/><br/>

<div class="row">	
	<div class="col-md-1">
		<h2 style="text-decoration: underline">Name:</h2>
	</div>	
	<div class="col-md-3">
		<h2 style="text-decoration: underline">Email:</h2>
	</div>	
</div>

<% @users.each do |user| %>
<div class="row">
	<div class="col-md-1">
		<h2><%= user.name %></h2>
	</div>
	<div class="col-md-3">
		<h2><%= user.email %></h2>
	</div>	
	<div class="btn-group col-md-8">
		<%= link_to 'Show', user, class: "btn btn-success" %>
		<%= link_to 'Edit', edit_user_path(user), class: "btn btn-success" %>
		<%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %>
		<% if user != current_user && !user.friends.find(params[:current_user]) %>
			<%= link_to 'Add Friend', friendships_path(friend_id: user), method: :post, class: "btn btn-primary" %>	
			<% else %>
			<% if user != current_user %>
				<button class="btn btn-danger deactive" type="submit">Already Your Friend</button>
			<% end %>
		<% end %>
	</div>	
</div>
<% end %>
