
<div class="container" style="margin-top: 80px">
  <div class="row">
    <div class="col-md-8">     
      <div class="panel">
        <div class="panel-heading">
          <h1 class="panel-title">Pending Friend Requests</h1>
        </div>
        <div class="panel-body">
          <% @users.each do |user| %>
            <% is_friend = current_user.friends.include?(user) %>
            <% accepted = current_user.friendships.where(accepted: true) %>
            <% accepted_user = user.friendships.where(accepted: true)  %>
            <% accepted_friend = accepted.find_by(user_id: user.id) || accepted.find_by(friend_id: user.id) || accepted_user.find_by(user_id: user.id) || accepted_user.find_by(friend_id: user.id) %>
            <% i_friend_of_u = user.friends.include?(current_user) %>
            <% if !is_friend && i_friend_of_u && !accepted_friend %>               
              <div class="col-md-2" style="margin: -15px">
                <%= image_tag user.image.url, style: "height: 80; width: 80", class: "img-responsive" %>
              </div>
              <div class="col-md-3 name2">
                <a href="<%= user_path(user) %>"><%= user.name.capitalize %></a>
                <a href="<%= user_path(user) %>"><%= user.email %></a>
              </div>             
              <%= link_to 'Accept Friend Request', friend_path(id: user.id), method: :patch, class: "font btn btnfriend", style: "max-height: 20px; min-width: 130px; font-size: 80%" %>
              <%= link_to 'Ignore Friend Request', friend_path(id: user.id), method: :delete, class: "font btn btn-default", style: "max-height: 20px; min-width: 130px; font-size: 80%" %> 
              <% @boolean = true %>              
            <% end %>     
          <% end %>
          <% if !@boolean %>
            <h5 style="font-weight: 900">No New Friend Requests</h5> 
          <% end %>               
        </div>
      </div>
      <% @users.each do |user| %>
        <% if user != current_user %>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-2" style="margin: -15px">
                    <%= image_tag user.image.url, style: "height: 80; width: 80", class: "img-responsive" %>
                  </div>
                  <div class="col-md-3 name2">
                    <a href="<%= user_path(user) %>"><%= user.name.capitalize %></a>
                    <a href="<%= user_path(user) %>"><%= user.email %></a>
                  </div> 
                  <div class="col-md-1">
                  </div> 
                  <div class="col-md-5 col-md-push-2">
                    <% is_friend = current_user.friends.include?(user) %>
                    <% accepted = current_user.friendships.where(accepted: true) %>
                    <% accepted_user = user.friendships.where(accepted: true)  %>
                    <% accepted_friend = accepted.find_by(user_id: user.id) || accepted.find_by(friend_id: user.id) || accepted_user.find_by(user_id: user.id) || accepted_user.find_by(friend_id: user.id) %>
                    <% i_friend_of_u = user.friends.include?(current_user) %>
                    <% if !is_friend && !i_friend_of_u %>
                    <div class="row" style="margin-top: 10px">
                      <div class="col-md-2 col-md-push-5"> 
                        <%= link_to '+  Add Friend', friends_path(friend_id: user), method: :post, class: "font btn btnfriend", style: "max-height: 25px; min-width: 130px; font-size: 110%" %>
                      </div>  
                      <% elsif !is_friend && i_friend_of_u && !accepted_friend %>
                        <%= link_to 'Accept Friend Request', friend_path(id: user.id), method: :patch, class: "font btn btnfriend", style: "max-height: 20px; min-width: 130px; font-size: 80%" %>
                        <%= link_to 'Ignore Friend Request', friend_path(id: user.id), method: :delete, class: "font btn btn-default", style: "max-height: 20px; min-width: 130px; font-size: 80%" %> 
                      <% elsif is_friend && !accepted_friend %>
                        <span class="label label-success" style="max-height: 20px; min-width: 130px; font-size: 80%">Friend Request Sent</span>
                        <%= link_to 'Cancel Friend Request', friend_path(id: current_user.id), method: :delete, class: "font btn btn-default", style: "max-height: 20px; min-width: 130px; font-size: 80%; margin-top: 10px" %>
                      <% end %>                               
                      <% if accepted_friend %>
                        <%= link_to 'Cancel Friendship', friend_path(id: user.id), method: :delete, data: { confirm: 'Are you sure you want to cancel friendship?' }, class: "font btn btn-default", style: "max-height: 20px; min-width: 130px; font-size: 80%" %>
                      <% end %>
                    </div> 
                </div>
              </div>
            </div>  
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>






  <style>
    .toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; background: #fff; }
    #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var state = true;
    $( "#button" ).on( "click", function() {
      if ( state ) {
        $( "#effect" ).animate({
          backgroundColor: "#284c79",
          color: "white",
          width: 500
        }, 1000 );
      } else {
        $( "#effect" ).animate({
          backgroundColor: "#fff",
          color: "black",
          width: 240
        }, 1000 );
      }
      state = !state;
    });
  } );
  </script>

<div class="toggler">
  <div id="effect" class="ui-widget-content ui-corner-all">
    <h3 class="ui-widget-header ui-corner-all">Animate</h3>
    <p>
      Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede. Nulla lorem metus, adipiscing ut, luctus sed, hendrerit vitae, mi.
    </p>
  </div>
</div>
 
<button id="button" class="ui-state-default ui-corner-all">Toggle Effect</button>
 
 
