

<div class="row">
	<h1 style="text-decoration: underline">Users</h1>
</div><br/><br/>

	<% @users.each do |user| %>
		<div class="row">	
			<div class="col-md-1">
				<h2 style="text-decoration: underline">Name:</h2>
			</div>	
				<div class="col-md-2">
				<h2 style="text-decoration: underline">Email:</h2>
			</div>	
		</div>	
		<div class="row">
			<div class="col-md-1">
				<h2><%= user.name %></h2>
			</div>
			<div class="col-md-2">
				<h2><%= user.email %></h2>
			</div>	
			<div class="col-md-2">
				<div class="btn-group">
					<%= link_to 'Show', user, class: "btn btn-success" %>
					<%= link_to 'Edit', edit_user_path(user), class: "btn btn-success" %>
					<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success" %>
				</div>
			</div>	
		</div>
	<% end %>
