<p id="notice"><%= notice %></p>

<div class="container">
  <div class="media">
  </div>  

  <div class="col-md-4 col-xs-12">
    <div class="row">
      <%= image_tag @user.image.url(:medium) %>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h1><%= @user.name %></h1>
      </div>  
    </div>
    <div class="row">
      <div class="btn-group col-md-3">
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info" %>
        <%= link_to 'Back', users_path, class: "btn btn-info" %>
      </div>
    </div>  
  </div> 
  <div class="col-md-4 col-xs-12">
    
  </div> 
  <div class="col-md-4 col-xs-12">

  </div> 
</div>
