
<script>
    if(window.location.hash) {
      var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
     
    jQuery.ajax({
      type:    'post',
      url:     user_path(current_user),
      dataType: "json",
      data:    { anchor: hash}
      console.log('success')
  })
      // hash found
  } else {
      // No hash found
  }
</script>
// <script>
// $(document).on('click', '#fri-list', function() {
//   event.preventDefault()
//   var hash = window.location.hash.substring(1);

//   $.ajax({
//     type:    "POST",
//     url:     "http://localhost:3000/users/3",
//     data:    { anchor: hash },
//     success: function(post){ console.log('success') },
//     error:   function(post){ console.log(this) }
//   })
// })
// </script>
<% @anchor_value = params[:anchor] %>

<div class="container-fluid" style="margin-top: 30px">
  <div class="row">
    <div class="col-md-10">  
      <div class="row cov" style="background-image: url(<%= asset_path 'cover2.jpeg' %>);">
        <div class="col-md-3 col-sm-3 col-xs-7" style="margin-top: 230px; z-index: 100">
          <% if current_user.image.present? %>
            <%= image_tag(@user.image.url, class: "img-responsive img-thumbnail", style: "height: 170px; width: 170px") %>
            <% end %>
        </div>          
        <div class="col-md-2 col-sm-2 col-xs-5 col-xs-pull-1" style="margin-top: 320px"> 
          <% if current_user.name %>
            <a href="<%= user_path(current_user) %>" class="navbar-brand col" style="color:black; font-size: 15px"><h1 style="font-weight: 700; color:white"><%= @user.name.capitalize %></h1></a>
          <% else %>
            <h1 style="font-size: 120%; color: white">Please Update Name</h1>
          <% end %>            
        </div>
        <% if @user.id == current_user.id %>
          <div class="col-md-2 col-md-push-2 text-center hidden-sm hidden-xs" style="margin-top: 350px"> 
            <%= link_to 'Update Info', edit_user_path(@user), class: "btn btn4 btn-default", style: "padding: 6px 25px;" %>
          </div>
          <div class="col-md-2 col-md-push-2 text-center hidden-sm hidden-xs" style="margin-top: 350px"> 
            <%= link_to 'View Activity Log', edit_user_path(@user), class: "btn btn4 btn-default" %>
          </div> 
          <div class="col-xs-3 col-xs-pull-7 visible-xs" style="z-index: 5; margin-top: 50px; margin-bottom: 20px"> 
            <%= link_to 'Update Info', edit_user_path(@user), class: "btn btn4 btn-default", style: "padding: 6px 25px;" %>
          </div>                
          <div class="col-xs-1 col-xs-pull-4 visible-xs" style="z-index: 5; margin-top: 50px; margin-bottom: 20px"> 
            <%= link_to 'View Activity Log', edit_user_path(@user), class: "btn btn4 btn-default" %>
          </div> 
        <% end %>
      </div>
    </div> 
  </div> 
  <div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12" style="background-color: white; height: auto">
      <div class="col-md-9 col-md-push-3">         
        <div data-spy="scroll" class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs hidden-xs">
              <% if @anchor_value == "friends" %>
                <li class="col-xs-3">
              <% else %>
                <li class="active col-xs-3">
              <% end %>               
                <a href="#timeline" data-toggle="tab">
                  TimeLine </a>
              </li>
              <li>
                <a href="#about" data-toggle="tab">
                   About</a>
              </li>
              <% if @anchor_value == "friends" %>
                <li class="active">
              <% else %>
                <li>
              <% end %>                
                <a href="#friends" data-toggle="tab">
                   Friends</a>
              </li>
              <li>
                <a href="#photos" data-toggle="tab">
                   Photos</a>
              </li>
              <li>
                <a href="#more" data-toggle="tab">
                  <span class="glyphicon glyphicon-triangle-bottom"></span>More</a>
              </li>
            </ul>
            <ul class="nav nav-tabs visible-xs" style="margin-top: 10px">
              <li class="active col-xs-6">
                <a href="#timeline" data-toggle="tab">
                  TimeLine </a>
              </li>
              <li class="col-xs-6">
                <a href="#about" data-toggle="tab">
                   About</a>
              </li>
              <li class="col-xs-6 active">
                <a href="#friends" data-toggle="tab">
                   Friends</a>
              </li>
              <li class="col-xs-6">
                <a href="#photos" data-toggle="tab">
                   Photos</a>
              </li>
              <li class="col-xs-6">
                <a href="#more" data-toggle="tab">
                  <span class="glyphicon glyphicon-triangle-bottom"></span>More</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
  <div class="row">
    <div class="col-md-10">    
      <div class="tab-content">
        <% if @anchor_value == "friends" %>
          <div class="tab-pane" id="timeline">
        <% else %>
          <div class="tab-pane active" id="timeline">
        <% end %>  
          <div class="row" style="margin-top: 10px">
            <div class="col-md-4">
              <div class="panel">
                <div class="panel-heading" style="background-color: white">
                  <h2 class="panel-title">
                    <%= image_tag("photosgrid-icon.png", style: "height: 30px; width: 30px") %>
                    Photos
                  </h2>
                </div>
                <div class="panel-body" style="margin-left: -10px">
                  <% @posts.each do |p| %>
                    <% if p.image.present? %>
                      <div class="col-md-4 col-sm-4 col-xs-4 card2">  
                        <div class="front"> 
                          <a href="#" class="btn btn-lg" role="button"><%= image_tag p.image.url, class: "img-responsive",style: "height: 80px; width: 80px" %></a>
                        </div> 
                        <div class="back" style="background-color: #284c79; max-height: 82px; width: 82px opacity: 0.7">
                          <div style="background-color: #284c79">
                            <h4 class="text-center" style="color: white"><br>post #<br><%= p.id %></h4>
                          </div>  
                        </div>
                        <script>
                        $(".card2").flip({
                          axis: 'y',
                          trigger: 'hover'
                        }); 
                        </script>
                      </div>
                    <% end %>     
                  <% end %> 
                </div>
              </div>
              <div class="panel">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <%= image_tag("friendsgrid-icon.png", style: "height: 30px; width: 30px") %>
                    Friends
                  </h2>                  
                </div>
                <div class="panel-body" style="margin-left: -20px">
                  <% current_user.friends.each do |f| %>
                    <div class="col-md-4 col-sm-3 col-xs-3 card2">
                      <!-- dblue -->
                      <% if f.image.present? %>  
                        <div class="front"> 
                          <a href="<%= user_path(f) %>" class="btn btn-lg" role="button"><%= image_tag f.image.url, class: "img-responsive",style: "height: 80px; width: 80px;" %></a>
                        </div> 
                        <div class="back"  style="background-color: #284c79; max-height: 82px; max-width: 82px">
                          <div>
                            <h4 class="text-center" style="color: white"><br><%= f.name %></h4>
                          </div>  
                        </div>
                        <script>
                        $(".card2").flip({
                          axis: 'y',
                          trigger: 'hover'
                        }); 
                        </script>
                      <% end %>     
                    </div> 
                  <% end %> 
                </div>
              </div>                                  
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="panel">
                <div class="panel-heading" style="background-color: #F5F5F5">
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="row">
                        <div class="col-md-6">
                          <% if current_user.image.present? %>
                            <%= image_tag(current_user.image.url, class: " img-circle", style: "margin-top: 10px; height: 30px; width: 30px; margin-left: 45px;") %>
                          <% else %>
                            <h4 style="font-size: 100%">Please Add Photo</h4>
                          <% end %>
                        </div> 
                        <div class="col-md-6 col-md-push-6"> 
                          <%= bootstrap_form_for(@post) do |f| %>
                            <button type="button" class="btn btn5" data-toggle="modal" data-target="#post" style="text-align: center; font-size: 150%; color: #B0B0B0;padding-right: 100px">
                              <div class="col-md-12 col-xs-12 col-sm-12"> 
                                <h4>What's on your mind?</h4>
                  <script type="text/javascript"></script>
                                        
                                          <%= @anchor_value %>
                                         
                              </div>
                            </button>
                          <% end %>
                        </div>  
                      </div>               
                    </div>
                  </div>
                </div>
                <div class="panel-footer" style="background: white">
                </div>
              </div>
              <% @posts.each do |post| %>
                <div class="col-md-12 col-xs-12 col-sm-12">         
                  <div class="panel">
                    <div class="panel-heading">
                      <% user = User.find_by(id: post.user_id) %>
                      <div class="col-md-1 col-xs-3 col-sm-3 card2" style="padding: 5px">
                        <div class="front"> 
                          <%= image_tag user.image.url, class: "img-circle", size: "40x40" %>
                        </div> 
                        <div class="back img-circle" style="background-color: black; max-height: 40px; max-width: 40px; opacity: 0.7">
                          <div style="background-color: white">
                            <h7 style="margin-top: 10px"><a href="<%= user_path(user) %>"><%= user.name.capitalize %></a></h7>
                          </div>  
                        </div>
                        <script>$(".card2").flip({
                          axis: 'y',
                          trigger: 'click'
                        }); 
                        </script>
                      </div>
                      <div class="col-md-4 col-xs-6 col-sm-6 name">
                        <a href="<%= user_path(user) %>" style="z-index: 1000000"><%= user.name.capitalize %></a>
                        <% created = post.created_at %>
                        <% year = @time_now.year - created.year %>
                        <% month = @time_now.month - created.month %>
                        <% day = @time_now.day - created.day %>
                        <% hour = @time_now.hour - created.hour %>
                        <% min = @time_now.min - created.min %>
                        <% sec = @time_now.sec - created.sec %>
                        <% if year > 0 %>
                          <h5><%= year %> years ago</h5>
                        <% elsif month > 0 %>  
                          <h5><%= month %> months ago</h5>
                        <% elsif day > 0 %>  
                          <h5><%= day %> days ago at <%= post.created_at.hour %>:<%= post.created_at.min %></h5>
                        <% elsif hour > 0 %>  
                          <h5><%= hour %> hours ago at <%= post.created_at.hour %>:<%= post.created_at.min %></h5>  
                        <% elsif min > 0 %>  
                          <h5><%= min %> minutes ago</h5>
                        <% elsif sec > 0 %>
                          <h5><%= sec %> seconds ago</h5>                  
                        <% end %>
                      </div>
                      <div class="col-md-5 col-md-push-2 col-xs-3 col-sm-3">
                        <div class="dropdown pull-right">
                          <button class="btn btn1 glyphicon glyphicon-option-horizontal" type="button" data-toggle="dropdown", style="padding-top: 15px"></button>
                          <ul class="dropdown-menu">
                            <div class="col-md-12 btn-group">
                              <div class="row">
                                <span class="glyphicon glyphicon-edit" style="padding-left: 5px; font-size: 150%; margin-top: 5px"></span>&nbsp&nbsp                   
                                <%= link_to 'Edit Post', edit_post_path(post), class: "btn btn-default", style: "padding: 6px 39px" %>&nbsp&nbsp
                              </div><br>
                              <div class="row">
                                <span class="glyphicon glyphicon-trash" style="padding-left: 5px; font-size: 150%; margin-top: 5px"></span>&nbsp&nbsp                    
                                <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class: " delete_post btn btn-default", style: "padding: 6px 30px", remote: :true %>&nbsp&nbsp
                              </div>  
                            </div>
                          </ul>
                        </div>
                      </div>              
                    </div><br><br><br>
                    <div class="panel-body"> 
                      <div class="row">    
                        <div class="col-md-12 text-center">
                          <% if !post.image.present? %>
                            <h2><%= post.description %></h2>   
                          <% else %> 
                            <h1><%= post.description %></h1>                 
                            <div class="card" style="max-height: 50%"> 
                              <div class="front"> 
                                <%= image_tag post.image.url, class: "img-responsive text-center", style: "margin: auto; background-size: auto; min-height: 350px" %><br/><br/>
                              </div> 
                              <div class="back">
                                <div style="background-color: #284c79">
                                  <h1><%= post.description %></h1>
                                  <h3>Post Created At: <br> <%= post.created_at.inspect %></h3>
                                </div>  
                              </div>
                              <script>$(".card").flip({
                                axis: 'y',
                                trigger: 'click'
                              }); 
                              </script> 
                            </div>  
                          <% end %>                               
                        </div>
                      </div><hr>  
                        <div class="row">
                          <% if !post.likes.find_by(user_id: current_user.id) %>
                          <div class="col-md-3 col-xs-4 col-sm-4">
                            <div class="row"> 
                              <%= bootstrap_form_for(Like.new, :url => post_likes_path(post_id: post.id)) do |f| %>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                  <span class="glyphicon glyphicon-thumbs-up" style="font-size: 130%; margin-left: 20px"></span> 
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-6 col-xs-pull-6 col-sm-pull-6" style="margin-top: 5px">   
                                  <%= f.submit "Like", class: "btn btn2" %>
                                </div>  
                              <% end %>
                            </div>
                          </div>                       
                          <% else %>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                              <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                  <span class="glyphicon glyphicon-thumbs-down" style="font-size: 170%"></span>
                                </div> 
                                <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-7 col-xs-pull-7 col-sm-pull-6" style="margin-top: 5px"> 
                                  <% like = post.likes.find_by(post_id: post.id, user_id: current_user.id) %>  
                                  <%= link_to 'UnLike', post_like_path(post_id: post.id, id: like.id), method: :delete, class: "btn btn2" %>
                                </div>  
                              </div>                      
                            </div>  
                          <% end %>
                          <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="row">
                              <div class="col-md-6 col-sm-6 col-xs-6">                  
                                <span class="glyphicon glyphicon-comment" style="font-size: 100%; margin-left: -10px"></span>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-6 col-xs-pull-6 col-sm-pull-6" style="margin-top: -9px">  
                                <a href="#comment" class="btn btn2" style="margin-left: -25px; margin-top: 7px">Comment</a>
                              </div>
                            </div>    
                          </div>
                          <div class="col-md-3 col-sm-4 col-xs-4">
                            <div class="row">
                              <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-3">                   
                                <%= image_tag("share-icon.png", size: "15x15", style: "margin-left: 20px") %>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-9 col-xs-pull-6 col-sm-pull-6" style="margin-top: 4px; margin-left: -5px">
                                <a href="#" class="btn btn2">Share</a>
                              </div>
                            </div>    
                          </div>             
                        </div>                             
                    </div>
                    <div class="panel-footer" id="comment">
                      <div class="row"> 
                        <div class="col-md-6 col-xs-12 col-sm-12">
                          <div class="row">
                              <% like_names = Like.where(post_id: post.id).limit(3) %>
                              <% if post.likes %>
                                <% like_names.each do |user| %>
                                  <div class="col-md-3 col-sm-1 col-xs-2">
                                    <% user = user.user_id %>
                                    <% user = User.find_by(id: user) %>
                                    <h5 style="color: blue"><a href="<%= user_path(user) %>"><%= user.name %><% if like_names.last.user_id != user.id %>,&nbsp<% else %>....<% end %>
                                    </h5></a>
                                  </div>                            
                                <% end %>  
                              <% end %>
                            <div class="col-md-2 col-sm-1 col-xs-2 col-md-push-1" style="margin-top: 7px">  
                              <% if post.likes.count > 0 %>
                                <h3 class="label" style="color: black; font-size: 120%"><%= post.likes.count %></h3>
                              <% end %>
                            </div>     
                          </div>     
                        </div>                  
                      </div><br>
                      <!-- post Comments -->
                      <div class="panel font" style="background-color: inherit"> 
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="max-height:70px; margin-top: -40px">
                              <%= bootstrap_form_for(Comment.new, :url => post_comments_path(post_id: post.id)) do |f| %> 
                                <%= f.text_area :description, size: "300x1", hide_label: true, placeholder: "Write a comment..." , style: "border-radius: 15px;" %>
                                <%= f.submit "Submit Comment", class: "btn btn2", style: "border: 1px solid black; margin-left: 3px" %><br><br>
                              <% end %>
                            </div>
                          </div>           
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                            <% comments = post.comments.all %>
                            <% comments.each do |com| %>
                            <% user = User.find_by(id: com.user_id) %>
                            <div class="row">
                              <% if com.description %>
                              <div class="col-md-8 col-sm-8 col-xs-8" style="margin-left: 5px">
                                <h4><%= user.name.capitalize %>: <%= com.description %></h4>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-3 col-md-pull-1 col-sm-pull-1 col-xs-pull-1">
                                <div class="dropdown pull-right">
                                  <div class="col-md-4 col-xs-4 col-sm-4 btn-group pull-right">
                                    <button class="btn btn1 glyphicon glyphicon-option-horizontal" type="button" data-toggle="dropdown", style="padding-top: 15px"></button>
                                    <div class="dropdown-menu">
                                      <span class="glyphicon glyphicon-edit" style="padding-left: 5px; padding-right: 10px; margin-top: -5px"></span>
                                      <%= link_to 'Edit...', edit_post_comment_path(post_id: post.id,id: com.id), class: "btn btn3" %><br>
                                      <span class="glyphicon glyphicon-trash" style="padding-left: 5px; padding-right: 10px; margin-top: -5px"></span>
                                      <%= link_to 'Delete...', post_comment_path(post_id: post.id,id: com.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn3" %>
                                    </div>  
                                  </div>
                                </div>
                              </div>  
                              <% end %>    
                            </div>       
                            <% end %><br>
                            <div class="row">  
                              <% if !comments %>
                                <h4>Be The First One To Comment</h4>
                              <% end %> 
                            </div>
                          </div>       
                          <div class="col-md-3">
                          </div>                
                        </div>            
                        </div> 
                      </div>
                    </div>
                  </div>                                    
                </div>
              <% end %>
            </div>         
          </div>        
        </div>      
        <div class="tab-pane" id="about" style="padding-top: 20px">
          <div class="row">
            <div class="col-md-12">     
              <div class="panel">
                <div class="panel-heading" style="background-color: #F5F5F5; border-bottom: 1px solid grey">
                  <h3>About</h3>
                </div>             
                <div class="panel-body" style="padding-top:0;">
                  <div class="col-md-3 col-xs-4 col-sm-4" style="border-right: 1px solid grey;">
                    <ul class="nav flex-column" style="padding-bottom:0">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Overview</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Work And Education</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact And Basic Info</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#">Life Events</a>
                      </li>                                           
                    </ul>
                  </div>
                </div>  
              </div>  
            </div>             
          </div>
        </div>
        <% if @anchor_value == "friends" %>
          <div class="tab-pane active" id="friends" style="padding-top: 20px">
        <% else %>
          <div class="tab-pane" id="friends" style="padding-top: 20px">
        <% end %>            
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="panel">
                <div class="panel-heading" style="background-color: #F5F5F5;">
                  <h3><a href="<%= users_path %>"><%= image_tag("friends-icon.png", size: "30x25") %></a> Friends &nbsp&nbsp&nbsp&nbsp<%= link_to 'Find Friends\Manage Friend Requests', users_path, class: "btn bold", style: "font-size: 80%; padding: 6px 10px; border: 1px groove black" %></h3>
                </div>
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#All-Fri">All Friends</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Recent-Fri">Recently Added</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#New-Post">New Posts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#Birthday">Birthdays</a>
                  </li>
                </ul>             
                <div class="panel-body" style="padding-top:0;">
                  <div class="col-md-12 col-xs-12 col-sm-12"> 
                    <div class="tab-pane" id="All-Fri" style="padding-top: 20px"> 
                      <div class="row">
                        <% if @user.friends %>
                          <% @user.friends.each do |f| %> 
                            <a href="<%= user_path(f) %>"><div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="media" style="border: 1px solid #E8E8E8;">
                                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0">
                                  <div class="media-left">
                                    <% if f.image.present? %>
                                      <div>
                                        <%= image_tag f.image.url, style: "padding-left:0", size: "110x110" %>  
                                      </div>
                                    <% end %>
                                  </div>  
                                </div> 
                                <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-2 col-sm-pull-1 col-xs-pull-1"> 
                                  <div class="media-body">
                                    <h5 class="media-heading" style="margin-top: 50px; font-weight: 900"><%= f.name.capitalize %>
                                    </h5>
                                    <h5>
                                      # Mutual Friends
                                    </h5>
                                  </div>
                                </div>  
                              </div>
                            </div></a>  
                          <% end %>
                        <% end %>                        
                      </div>
                    </div>
                    <div class="tab-pane" id="All-Fri" style="padding-top: 20px"> 
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12"> 
                          <h4></h4>    
                          <h3></h3>
                        </div>                         
                      </div>
                    </div>                    
                    <div class="tab-pane" id="New-Post" style="padding-top: 20px"> 
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12"> 
                          <h4></h4>    
                          <h3></h3>
                        </div>                         
                      </div>
                    </div>
                    <div class="tab-pane" id="Birthday" style="padding-top: 20px"> 
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12"> 
                          <h4></h4>    
                          <h3></h3>
                        </div>                         
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="photos">
          <div class="row">
            <div class="col-md-12 text-center" style="padding-top: 20px">
              
            </div>
          </div>
        </div>
        <div class="tab-pane" id="more" style="padding-top: 20px"> 
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"> 
              <h4></h4>    
              <h3></h3>
            </div>                         
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="post" tabindex="-1" role="dialog" style="display: none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header nopadding2 bold">
        <div class="col-md-1 col-sm-1 col-xs-2">
          <a href="#" style="font-size: 100%">Post</a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-3">
          <a href="#" style="font-size: 100%;">Photo/Video</a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3 col-md-push-1 col-sm-push-1 col-xs-push-1">
          <a href="#" style="font-size: 100%;">Live Video</a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3 col-md-push-1 col-sm-push-1 col-xs-push-1">
          <a href="#" style="font-size: 100%;">Life Event</a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-1 col-md-push-3 col-sm-push-3" style="margin-top: -6px">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" style="font-size: 150%">&times;</i></button>
        </div>    
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(@post) do |f| %>
        <%= f.text_area :description, hide_label: true, style: "font-size: 120%; border: none; overflow: auto; border-color: Transparent;", placeholder: "What's on your mind?", rows: "5", cols: "100", class: "bold" %>
      </div>
      <div class="modal-footer">
        <div class="row nopadding2">
          <div class="col-md-1 col-md-push-1 hidden-xs hidden-sm visible-md visible-lg" style="margin-top: -8px;margin-right: -10px">
            <%= f.file_field :image, class: "glyphicon glyphicon-camera inputfile", style: "font-size: 24px", hide_label: true %> 
          </div>
          <div class="col-xs-1 col-xs-push-1 hidden-sm hidden-md hidden-lg visible-xs" style="margin-top: -8px; margin-right: 7px">
            <%= f.file_field :image, class: "glyphicon glyphicon-camera inputfile", style: "font-size: 24px", hide_label: true %> 
          </div> 
          <div class="col-sm-1 col-sm-push-1 visible-sm hidden-md hidden-lg hidden-xs" style="margin-top: -8px; margin-right: -10px">
            <%= f.file_field :image, class: "glyphicon glyphicon-camera inputfile", style: "font-size: 24px", hide_label: true %> 
          </div>                     
          <div class="col-md-1 col-sm-1 col-xs-1 col-xs-push-1" style="margin-top: 5px; margin-left: -10px">
            <%= image_tag("addfriend-icon.png", size: "24px") %>
          </div>               
          <div class="col-md-1 col-sm-1 col-xs-1 col-xs-push-1" style="margin-top: 2px">
            <i class="fa fa-map-marker" aria-hidden="true" style="font-size:24px"></i>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 col-xs-push-1" style="margin-top: 3px">
            <i class="fa fa-smile-o" style="font-size:24px"></i>
          </div>
          <div class="col-md-6 col-sm-3 col-xs-4">
          </div>
          <div class="hidden-md hidden-lg col-sm-2 col-xs-4 col-sm-push-2 col-xs-pull-1">  
            <%= f.submit "Post", class: "btn bold", style: "margin-left :40px;padding: 4px 30px" %>
          </div>
          <div class="hidden-xs hidden-sm col-md-2 col-md-pull-1">  
            <%= f.submit "Post", class: "btn bold", style: "margin-left :40px;padding: 4px 30px" %>
          </div>
        </div>   
        <% end %>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
  



      