
<div class="container-fluid" style="margin-top: 50px">
  <div class="row">
    <div class="col-md-9">  
      <div class="row cov" style="background-image: url(<%= asset_path 'cover2.jpeg' %>);">
        <div class="col-md-3" style="margin-top: 230px; z-index: 100">
          <%= image_tag(@user.image.url, class: "img-responsive img-thumbnail", style: "height: 200px; width: 200px") %>
        </div> 
        <div class="col-md-1 col-md-pull-4 col-sm-2 col-xs-4" style="margin-top: 480px"> 
          <h1 style="font-weight: 700; margin: -140px 10px 200px 290px; color:white"><%= @user.name.capitalize %></h1>  
        </div>
        <% if @user.id == current_user.id %>
        <div class="col-md-2 col-xs-3 col-sm-3 col-md-push-3 text-center" style="margin-top: 350px"> 
          <%= link_to 'Update Info', edit_user_path(@user), class: "btn btn4 btn-default", style: "padding: 6px 25px;" %>
        </div>
        <div class="col-md-2 col-xs-3 col-sm-3 col-md-push-3 text-center" style="margin-top: 350px"> 
          <%= link_to 'View Activity Log', edit_user_path(@user), class: "btn btn4 btn-default" %>
        </div>        
      <% end %>
      </div>
    </div> 
  </div> 
  <div class="row">
    <div class="col-md-9" style="background-color: white; height: 50px">
      <div class="col-md-9 col-md-push-3">         
        <div data-spy="scroll" class="tabbable-panel">
          <div class="tabbable-line">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#timeline" data-toggle="tab">
                  TimeLine </a>
                </li>
                <li>
                  <a href="#about" data-toggle="tab">
                   About</a>
                </li>
                <li>
                  <a href="#friends" data-toggle="tab">
                   Friends</a>
                </li>
                <li>
                  <a href="#photos" data-toggle="tab">
                   Photos</a>
                </li>
                <li>
                  <a href="#more" data-toggle="tab">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>More</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">    
  <div class="tab-content">
    <div class="tab-pane active" id="timeline">
      <div class="row" style="margin-top: 10px">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">

            </div>
            <div class="panel-footer">
            </div>
          </div>           
        </div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag(current_user.image.url, size: "50x50", class: "img-responsive img-circle") %>
                </div>
                <div class="col-md-8" style="margin-top: 20px">  
                  <%= bootstrap_form_for(@post) do |f| %>
                    <button type="button" class="btn btn5" data-toggle="modal" data-target="#post" style="font-size: 150%; color: #B0B0B0;padding-right: 100px;">What's on your mind?</button>
                  <% end %>
                </div>  
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </div>        
      </div>  
      <div class="row">
        <div class="col-md-12">     
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">  
          <% @posts.each do |post| %>
            <div class="col-md-12">
              <%= image_tag post.image.url(:thumb) %>
              <h2 class="text-center"><%= post.description %></h2>
            </div>
          <% end %>
        </div>
      </div>
    </div>     
    <div class="tab-pane" id="about" style="padding-top: 20px">
      <div class="row">
        <div class="col-md-12">     
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h3>About</h3>
            </div>             
            <div class="panel-body" style="min-height: 220px"> 

            </div>  
          </div>  
        </div>             
      </div>
    </div>
    <div class="tab-pane" id="friends" style="padding-top: 20px"> 
      <div class="row">
          <%= link_to 'Expend Your Network', users_path, class: "btn btn-danger", style: "font-size: 150%; padding: 6px 80px" %>
          <%= link_to 'Manage Friend Requests', users_path, class: "btn btn-primary btn-lg" %>
          <%= link_to 'Your Friends', friendships_path, class: "btn btn-success btn-lg" %>             
      </div>
    </div>
    <div class="tab-pane" id="photos">
      <div class="row">
        <div class="col-md-12 text-center" style="padding-top: 20px">
          
        </div>
      </div>
    </div>
    <div class="tab-pane" id="more" style="padding-top: 20px"> 
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12"> 
          <h4></h4>    
          <h3></h3>
        </div>                         
      </div>
    </div>    
  </div>
</div>
</div>
</div>



<div class="modal" id="post" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-1">
            <a href="#" class="navbar-brand" style="font-size: 100%;">Post</a>
          </div>
          <div class="col-md-2" style=" margin-right: 5px">
            <a href="#" class="navbar-brand" style="font-size: 100%;">Photo/Video</a>
          </div>
          <div class="col-md-2">
            <a href="#" class="navbar-brand" style="font-size: 100%;">Live Video</a>
          </div>
          <div class="col-md-2">
            <a href="#" class="navbar-brand" style="font-size: 100%;">Life Event</a>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-1" style="margin-top: 10px">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 150%">&times;</span></button>
          </div>   
        </div>  
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(@post) do |f| %>
        <%= f.text_area :description, hide_label: true, style: "font-size: 120%; border: none", placeholder: "What's on your mind?", rows: "5", cols: "100" %>
      </div>
      <div class="modal-footer" style="max-height: 40px">
        <div class="col-md-1 col-md-push-1">
          <%= f.file_field :image, class: "glyphicon glyphicon-camera inputfile", style: "font-size: 150%", hide_label: true %> 
        </div> 
        <div class="col-md-1 col-md-push-1">
          <%= image_tag("addfriend-icon.png", size: "30x30") %>
        </div>               
        <div class="col-md-1 col-md-push-1">
          <i class="fa fa-map-marker" aria-hidden="true" style="font-size:24px"></i>
        </div>
        <div class="col-md-1 col-md-push-1">
          <i class="fa fa-smile-o" style="font-size:24px"></i>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2">  
          <%= f.submit "Post", class: "btn" %>
        </div>  
        <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  



      