<div class="row">
	<div class="col-md-4 text-center coolfont">
		<%= image_tag current_user.image(:medium) %>
		<h2><%= current_user.name %></h2>
	</div>
	<div class="col-md-4 text-center coolfont">
		<h1 style="text-decoration: underline">Cross Talks:</h1>
		<div class="row">
			<% @posts.each do |p| %>
				<h3 class="box"><%= current_user.name %>'s Saying: <%= p.description %></h3>
			<% end %>
			<% @friend.posts.each do |p| %>
				<h3 class="box"><%= @friend.name %>'s Saying: <%= p.description %></h3>
			<% end %>
		</div>	
	</div>
	<div class="col-md-4 text-center coolfont">
		<%= image_tag @friend.image(:medium) %>
		<h2><%= @friend.name %></h2>
	</div>		
</div>