

<%= render 'layouts/home_nav' %>
<div class="container" style="margin-top:90px">
  <div class="row">  
    <div class="col-md-4 col-sm-12 col-xs-12">
      <h1>Recent Logins</h1>
      <h4>Click On The Picture To Add An Account</h4>
      <div class="row">
        <a href="/users/sign_in"><div class="panel" style="margin-right: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px">
          <div class="panel-body panlog" style="background-image: url(<%= asset_path 'recent-login1.jpeg' %>);">
          </div>
          <div class="panel-footer text-center" style="max-height: 50px;background-color: white">
            <h4 style="font-weight: bold">Yogev</h4>
          </div>
        </div></a>
        <a href="/users/sign_up"><div class="panel" style="border-top-left-radius: 5px; border-top-right-radius: 5px">
          <div class="panel-body panlog" style="background-color: #F5F5F5">
            <%= image_tag("addaccount-icon.png", size: "50x50", class: "img-responsive center-block", style: "margin-top: 35%") %>
          </div>
          <div class="panel-footer text-center" style="max-height: 50px;background-color: white">
            <h4 style="font-weight: bold">Add Account</h4>
          </div>
        </div></a>
      </div>      
    </div> 
    <div class="col-md-2 col-sm-12 col-xs-12">
    </div>          
  	<div class="col-md-5 col-sm-12 col-xs-12">
      <h1>Create a New Account</h1>
      <h4>It’s free and always will be.</h4>
  	  <%= bootstrap_form_for(resource, as: resource_name, url: new_registration_path(resource_name)) do |f| %>
        <div class="row" style="margin-top:30px">
    	    <%= devise_error_messages! %>
          <div class="col-md-6">
    	      <%= f.text_field :name, placeholder: "Enter Name", hide_label: true, style: "font-size: 120%" %>
          </div> 
          <div class="col-md-6">           
    	      <%= f.email_field :email, autofocus: true, placeholder: "Enter Email", hide_label: true, style: "font-size: 120%" %>
          </div>  
        </div>
        <div class="row">
          <div class="col-md-6">                  
      	    <% if @minimum_password_length %>
      	      <em>(<%= @minimum_password_length %> characters minimum)</em>
      	    <% end %>
    	     <%= f.password_field :password, autocomplete: "off", placeholder: "Enter password", hide_label: true, style: "font-size: 120%" %>
          </div> 
          <div class="col-md-6">           
    	      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-enter password", hide_label: true, style: "font-size: 120%" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5>By clicking Create Account, you agree to our Terms and that you have read our Data Policy, including our Cookie Use. You may receive SMS Notifications from Fakebook and can opt out at any time.</h5>
          </div>
        </div>  
        <div class="row" style="margin-top: 50px">
          <div class="col-md-12">           
    	      <%= f.submit "Create Account", class: "btn btn-success", style: "font-size: 130%; font-weight: bold; background-color: #009933; padding: 6px 30px" %> 
          </div>	  
        </div>
      <% end %>
  	</div>
    <div class=" col-md-1 col-sm-12 col-xs-12">
    </div>    
  </div>
</div>  