
<script type="text/javascript" src="./javascript.js"></script>
<div class="container-fluid" style="padding-top:70px">    
  <div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12" style="margin-bottom: 20px">
      <div class="row">
        <div class="col-md-4 col-md-push-4 col-xs-4 col-sm-4 col-sm-push-5 col-xs-push-5">
          <% if current_user.image.present? %>
            <%= image_tag(current_user.image.url, class: "img-responsive img-circle", style: "height: 20px; width: 20px;") %>
          <% else %>
            <h4 style="font-size: 100%; padding-right: 10px">Please Add Photo</h4>
          <% end %> 
        </div>
        <div class="col-md-6 col-xs-8 col-sm-8 col-sm-push-2 col-xs-push-2">
          <% if current_user.name.split(' ').count > 0 %>
            <% name = current_user.name.split(' ')[0] %>
          <% end %>  
          <% if name %>
            <a href="<%= user_path(current_user) %>" class="col" style="color: black; font-size: 15px; font-weight: 900"><%= name.capitalize %></a>
          <% else %>
            <h4 style="font-size: 100%">Please Update Name</h4>
          <% end %>
        </div>            
      </div>
      <div class="row" style="margin-bottom: 1px; margin-top: 10px">
        <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center; width: 100%">
          <a href="<%= root_path %>" class="btn btn6" style="padding: 2px 30px; border-radius: 0px; min-width: 150px"><%= image_tag "newsfeed-icon.png", size: "20x20", style: "margin-left: -40px; margin-right: 10px" %>News Feed</a>
        </div>  
      </div>
      <div class="row" style="margin-bottom: 1px">
        <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center; width: 100%">
          <a href="<%= conversations_path %>" class="btn btn6" style="padding: 2px 30px; border-radius: 0px; min-width: 150px"><%= image_tag "messenger-icon.png", size: "20x20", style: "margin-left: -40px; margin-right: 10px" %>Messenger</a>
        </div>  
      </div>   
      <div class="row" style="margin-bottom: 1px">
        <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center; width: 100%">
          <a href="<%= events_path %>" class="btn btn6" style="padding: 2px 30px; border-radius: 0px; min-width: 150px"><%= image_tag "event-icon.png", size: "20x20", style: "margin-left: -70px; margin-right: 10px" %>Events</a>
        </div>  
      </div>
      <div class="row" style="margin-bottom: 1px">
        <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center; width: 100%">
          <a href="#" class="btn btn6" style="padding: 2px 30px; border-radius: 0px; min-width: 150px"><%= image_tag "pages-icon.png", size: "20x20", style: "margin-left: -75px; margin-right: 10px" %>Pages</a>
        </div>  
      </div>
      <div class="row" style="margin-bottom: 1px">
        <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center; width: 100%">
          <a href="#" class="btn btn6" style="padding: 2px 30px; border-radius: 0px; min-width: 150px"><%= image_tag "groups-icon.png", size: "20x20", style: "margin-left: -70px; margin-right: 10px" %>Groups</a>
        </div>  
      </div>
      <div class="row hidden-md  hidden-lg" style="margin-bottom: 1px">
        <div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center; width: 100%">
          <%= link_to "Friend Lists", user_path(current_user, anchor: "friends"), class: "btn btn6", id: "fri-list", style: "margin-left: -118px;padding: 2px 30px; border-radius: 0px; min-width: 150px" %><%= image_tag "friendlist-icon.png", size: "20x20", style: "margin-left: -148px; margin-right: 10px" %>
        </div>  
      </div> 
      <div class="row hidden-xs hidden-sm hidden-lg" style="margin-bottom: 1px">
        <div class="col-md-12" style="text-align: center; width: 100%">
          <a href="<%= user_path(current_user, anchor: "friends") %>" class="btn btn6", id="fri-list", style="padding: 2px 27px; border-radius: 0px; min-width: 150px"><%= image_tag "friendlist-icon.png", size: "20x20", style: "margin-left: -42px; margin-right: 10px" %>Friend Lists</a>
        </div>  
      </div>
      <div class="row hidden-xs hidden-sm hidden-md" style="margin-bottom: 1px">
        <div class="col-lg-12" style="text-align: center; width: 100%">
          <a href="<%= user_path(current_user, anchor: "friends") %>" class="btn btn6", id="fri-list", style="padding: 2px 27px; border-radius: 0px; min-width: 150px"><%= image_tag "friendlist-icon.png", size: "20x20", style: "margin-left: -42px; margin-right: 10px" %>Friend Lists</a>
        </div>  
      </div>                  
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="hidden-md hidden-lg visible-sm visible-xs">
        <div class="panel" style="border-radius: 0px; background-color: #F8F8F8">
          <div class="panel-body">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="row">
                <a href="#" class="btn btn7" style="border-radius: 0px; margin-bottom: 5px">5 Requests From Someone</a>
              </div>
              <div class="row">
                <a href="#" class="btn btn7" style="border-radius: 0px; margin-bottom: 5px"><%= image_tag("event-icon.png", size: "20x20") %> 3 Event Invites</a>
              </div>
              <div class="row">  
                <a href="#" class="btn btn7" style="border-radius: 0px;"><%= image_tag("birthday-icon.png", size: "20x20") %> Someone Has a Birthday</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">     
          <div class="panel hidden-xs hidden-sm">
            <div class="panel-heading" style="background-color: #F5F5F5">
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-md-6">
                      <% if current_user.image.present? %>
                        <%= image_tag(current_user.image.url, class: " img-circle", style: "margin-top: 10px; height: 30px; width: 30px; margin-left: 45px;") %>
                      <% else %>
                        <h4 style="font-size: 100%">Please Add Photo</h4>
                      <% end %>
                    </div> 
                    <div class="col-md-6 col-md-push-6">                
                      <%= bootstrap_form_for(@post) do |f| %>
                        <button type="button" class="btn btn5" data-toggle="modal" data-target="#post" style="text-align: center; font-size: 150%; color: #B0B0B0;padding-right: 50px">
                          <div class="col-md-12 col-xs-12 col-sm-12"> 
                            <h4>What's on your mind?</h4>
                          </div>
                        </button>
                      <% end %>
                    </div>  
                  </div>               
                </div>
              </div>
            </div>
            <div class="panel-footer" style="background: white">
            </div>
          </div>
          <div class="panel hidden-md hidden-lg">
            <div class="panel-heading" style="background-color: #F5F5F5">
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <div class="row">
                    <div class="col-md-6">
                      <% if current_user.image.present? %>
                        <%= image_tag(current_user.image.url, class: " img-circle", style: "margin-top: 10px; height: 30px; width: 30px; margin-left: 45px;") %>
                      <% else %>
                        <h4 style="font-size: 100%">Please Add Photo</h4>
                      <% end %>
                    </div> 
                    <div class="col-md-6 col-md-push-6">                
                      <%= bootstrap_form_for(@post) do |f| %>
                        <button type="button" class="btn btn5" data-toggle="modal" data-target="#post" style="text-align: center; font-size: 150%; color: #B0B0B0;padding-right: 50px">
                          <div class="col-md-12 col-xs-12 col-sm-12"> 
                            <h4>What's on your mind?</h4>
                          </div>
                        </button>
                      <% end %>
                    </div>  
                  </div>               
                </div>
              </div>
            </div>
            <div class="panel-footer" style="background: white">
            </div>
          </div>        
          <div class="modal fade" id="post" tabindex="-1" role="dialog" style="display: none">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header nopadding2 bold">
                  <div class="col-md-1 col-sm-1 col-xs-2">
                    <a href="#" style="font-size: 100%">Post</a>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-3">
                    <a href="#" style="font-size: 100%;">Photo/Video</a>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-3 col-md-push-1 col-sm-push-1 col-xs-push-1">
                    <a href="#" style="font-size: 100%;">Live Video</a>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-3 col-md-push-1 col-sm-push-1 col-xs-push-1">
                    <a href="#" style="font-size: 100%;">Life Event</a>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-1 col-md-push-3 col-sm-push-3" style="margin-top: -6px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" style="font-size: 150%">&times;</i></button>
                  </div>    
                </div>
                <div class="modal-body">
                  <%= bootstrap_form_for(@post) do |f| %>
                    <%= f.text_area :description, hide_label: true, style: "font-size: 120%; border: none; overflow: auto; border-color: Transparent;", placeholder: "What's on your mind?", rows: "5", cols: "100", class: "bold" %>
                </div>
                <div class="modal-footer">
                  <div class="row nopadding2">
                    <div class="col-md-1 col-md-push-1 hidden-xs hidden-sm visible-md visible-lg" style="margin-top: -8px;margin-right: -10px">
                      <%= f.file_field :image, class: "glyphicon glyphicon-camera inputfile", style: "font-size: 24px", hide_label: true %> 
                    </div>
                    <div class="col-xs-1 col-xs-push-1 hidden-sm hidden-md hidden-lg visible-xs" style="margin-top: -8px; margin-right: 7px">
                      <%= f.file_field :image, class: "glyphicon glyphicon-camera inputfile", style: "font-size: 24px", hide_label: true %> 
                    </div> 
                    <div class="col-sm-1 col-sm-push-1 visible-sm hidden-md hidden-lg hidden-xs" style="margin-top: -8px; margin-right: -10px">
                      <%= f.file_field :image, class: "glyphicon glyphicon-camera inputfile", style: "font-size: 24px", hide_label: true %> 
                    </div>                     
                    <div class="col-md-1 col-sm-1 col-xs-1 col-xs-push-1" style="margin-top: 5px; margin-left: -10px">
                      <%= image_tag("addfriend-icon.png", size: "24px") %>
                    </div>               
                    <div class="col-md-1 col-sm-1 col-xs-1 col-xs-push-1" style="margin-top: 2px">
                      <i class="fa fa-map-marker" aria-hidden="true" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 col-xs-push-1" style="margin-top: 3px">
                      <i class="fa fa-smile-o" style="font-size:24px"></i>
                    </div>
                    <div class="col-md-6 col-sm-3 col-xs-4">
                    </div>
                    <div class="hidden-md hidden-lg col-sm-2 col-xs-4 col-sm-push-2 col-xs-pull-1">  
                      <%= f.submit "Post", class: "btn bold", style: "margin-left :40px;padding: 4px 30px" %>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-2 col-md-pull-1">  
                      <%= f.submit "Post", class: "btn bold", style: "margin-left :40px;padding: 4px 30px" %>
                    </div>
                  </div>   
                  <% end %>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>
        </div>
      </div>  
      <!-- chat -->
      <div class="panel hidden-md hidden-lg" style="border-radius: 0px; border-right: 1px solid #D0D0D0">
        <div class="panel-heading">
          <h2 class="text-center bold">Chat</h2>
        </div>
        <div class="panel-body">
          <% @users.each do |user| %>
            <% if user != current_user %>
              <div class="row">
                <div class="col-md-3 col-md-push-1 col-sm-4 col-xs-4">
                  <% if user.image.present? %>
                    <%= image_tag user.image.url(:thumb), class: "img-responsive img-circle", size: "30x30" %>
                  <% else %>
                    <h3></h3>
                  <% end %>  
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4"> 
                  <% if user.name %>
                    <% if user.name.split(' ').count > 1 %>
                      <% name = user.name.split(' ')[0] %>
                    <% end %>  
                    <% if name %>                                          
                      <%= link_to name.capitalize, conversations_path(user_id: user), style: "font-size: 130%", class: "bold" %>
                    <% end %>
                  <% end %>    
                </div>
                <div class="col-md-7 col-sm-4 col-xs-4 col-sm-push-2 col-xs-push-2" style="margin-top: 10px">
                  <% if Session.find_by(user_id: user.id) %>     
                    <i class="fa fa-circle" aria-hidden="true" style="color: #40ff00; font-size: 60%"></i>
                  <% else %> 
                    <i class="fa fa-circle" aria-hidden="true" style="color: red; font-size: 60%"></i> 
                  <% end %>
                </div>
              </div><br> 
            <% end %>             
          <% end %> 
        </div>
      </div>        
    <div class="row">  
      <% @posts.each do |post| %>
        <div class="col-md-12">         
          <div class="panel">
            <div class="panel-heading">
              <% user = User.find_by(id: post.user_id) %>
              <div class="col-md-1 col-xs-3 col-sm-3 card2" style="padding: 5px">
                <div class="front"> 
                  <%= image_tag user.image.url, class: "img-circle", size: "40x40" %>
                </div> 
                <div class="back img-circle" style="background-color: black; max-height: 40px; max-width: 40px; opacity: 0.7">
                  <div style="background-color: white">
                    <h7 style="margin-top: 10px"><a href="<%= user_path(user) %>"><%= user.name.capitalize %></a></h7>
                  </div>  
                </div>
                <script>$(".card2").flip({
                  axis: 'y',
                  trigger: 'click'
                }); 
                </script>
              </div>
              <div class="col-md-4 col-xs-6 col-sm-6 name">
                <a href="<%= user_path(user) %>" style="z-index: 1000000"><%= user.name.capitalize %></a>
                <% created = post.created_at %>
                <% year = @time_now.year - created.year %>
                <% month = @time_now.month - created.month %>
                <% day = @time_now.day - created.day %>
                <% hour = @time_now.hour - created.hour %>
                <% min = @time_now.min - created.min %>
                <% sec = @time_now.sec - created.sec %>
                <% if year > 0 %>
                  <h5><%= year %> years ago</h5>
                <% elsif month > 0 %>  
                  <h5><%= month %> months ago</h5>
                <% elsif day > 0 %>  
                  <h5><%= day %> days ago at <%= post.created_at.hour %>:<%= post.created_at.min %></h5>
                <% elsif hour > 0 %>  
                  <h5><%= hour %> hours ago at <%= post.created_at.hour %>:<%= post.created_at.min %></h5>  
                <% elsif min > 0 %>  
                  <h5><%= min %> minutes ago</h5>
                <% elsif sec > 0 %>
                  <h5><%= sec %> seconds ago</h5>                  
                <% end %>
              </div>
              <div class="col-md-5 col-md-push-2 col-xs-3 col-sm-3">
                <div class="dropdown pull-right">
                  <button class="btn btn1 glyphicon glyphicon-option-horizontal" type="button" data-toggle="dropdown", style="padding-top: 15px"></button>
                  <ul class="dropdown-menu">
                    <div class="col-md-12 btn-group">
                      <div class="row">
                        <span class="glyphicon glyphicon-edit" style="padding-left: 5px; font-size: 150%; margin-top: 5px"></span>&nbsp&nbsp                   
                        <%= link_to 'Edit Post', edit_post_path(post), class: "btn btn-default", style: "padding: 6px 39px" %>&nbsp&nbsp
                      </div><br>
                      <div class="row">
                        <span class="glyphicon glyphicon-trash" style="padding-left: 5px; font-size: 150%; margin-top: 5px"></span>&nbsp&nbsp                    
                        <%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' }, class: " delete_post btn btn-default", style: "padding: 6px 30px", remote: :true %>&nbsp&nbsp
                      </div>  
                    </div>
                  </ul>
                </div>
              </div>              
            </div><br><br><br>
            <div class="panel-body"> 
              <div class="row">    
                <div class="col-md-12 text-center">
                  <% if !post.image.present? %>
                    <h2><%= post.description %></h2>   
                  <% else %> 
                    <h1><%= post.description %></h1>                 
                    <div class="card" style="max-height: 50%"> 
                      <div class="front"> 
                        <%= image_tag post.image.url, class: "img-responsive text-center", style: "margin: auto; background-size: auto; min-height: 350px" %><br/><br/>
                      </div> 
                      <div class="back">
                        <div style="background-color: #284c79">
                          <h1><%= post.description %></h1>
                          <h3>Post Created At: <br> <%= post.created_at.inspect %></h3>
                        </div>  
                      </div>
                      <script>$(".card").flip({
                        axis: 'y',
                        trigger: 'click'
                      }); 
                      </script> 
                    </div>  
                  <% end %>                               
                </div>
              </div><hr>  
              <div class="row">
                  <% if !post.likes.find_by(user_id: current_user.id) %>
                  <div class="col-md-3 col-xs-4 col-sm-4">
                    <div class="row"> 
                      <%= bootstrap_form_for(Like.new, :url => post_likes_path(post_id: post.id)) do |f| %>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <span class="glyphicon glyphicon-thumbs-up" style="font-size: 130%; margin-left: 20px"></span> 
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-6 col-xs-pull-6 col-sm-pull-6" style="margin-top: 5px">   
                          <%= f.submit "Like", class: "btn btn2" %>
                        </div>  
                      <% end %>
                    </div>
                  </div>                       
                  <% else %>
                    <div class="col-md-3 col-sm-4 col-xs-4">
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">               
                          <span class="glyphicon glyphicon-thumbs-down" style="font-size: 170%"></span>
                        </div> 
                        <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-7 col-xs-pull-7 col-sm-pull-6" style="margin-top: 5px"> 
                          <% like = post.likes.find_by(post_id: post.id, user_id: current_user.id) %>  
                          <%= link_to 'Unlike', post_like_path(post_id: post.id, id: like.id), method: :delete, class: "btn btn2" %>
                        </div>  
                      </div>                      
                    </div>  
                  <% end %>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">                  
                        <span class="glyphicon glyphicon-comment" style="font-size: 100%; margin-left: -10px"></span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-6 col-xs-pull-6 col-sm-pull-6" style="margin-top: -9px">  
                        <a href="#comment" class="btn btn2" style="margin-left: -25px; margin-top: 7px">Comment</a>
                      </div>
                    </div>    
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-4">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-3">                   
                        <%= image_tag("share-icon.png", size: "15x15", style: "margin-left: 20px") %>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6 col-md-pull-9 col-xs-pull-6 col-sm-pull-6" style="margin-top: 4px; margin-left: -5px">
                        <a href="#" class="btn btn2">Share</a>
                      </div>
                    </div>    
                  </div>             
                </div>                             
            </div>
            <div class="panel-footer" id="comment">
              <div class="row"> 
                <div class="col-md-6 col-xs-12 col-sm-12">
                  <div class="row">
                      <% like_names = Like.where(post_id: post.id).limit(3) %>
                      <% if post.likes %>
                        <% like_names.each do |user| %>
                          <div class="col-md-3 col-sm-1 col-xs-2">
                            <% user = user.user_id %>
                            <% user = User.find_by(id: user) %>
                            <h5 style="color: blue"><a href="<%= user_path(user) %>"><%= user.name %><% if like_names.last.user_id != user.id %>,&nbsp<% else %>....<% end %>
                            </h5></a>
                          </div>                            
                        <% end %>  
                      <% end %>
                    <div class="col-md-2 col-sm-1 col-xs-2 col-md-push-1" style="margin-top: 7px">  
                      <% if post.likes.count > 0 %>
                        <h3 class="label" style="color: black; font-size: 120%"><%= post.likes.count %></h3>
                      <% end %>
                    </div>     
                  </div>     
                </div>                  
              </div><br>
              <!-- post Comments -->
              <div class="panel font" style="background-color: inherit"> 
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="max-height:70px">
                      <%= bootstrap_form_for(Comment.new, :url => post_comments_path(post_id: post.id)) do |f| %> 
                        <%= f.text_area :description, size: "300x1", hide_label: true, placeholder: "Write a comment..." , style: "border-radius: 15px;" %>
                        <%= f.submit "Submit Comment", class: "btn btn2", style: "border: 1px solid black; margin-left: 3px" %><br><br>
                      <% end %>
                    </div>
                  </div>           
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <% comments = post.comments.all %>
                    <% comments.each do |com| %>
                    <% user = User.find_by(id: com.user_id) %>
                    <div class="row">
                      <% if com.description %>
                      <div class="col-md-8 col-sm-8 col-xs-8" style="margin-left: 5px">
                        <h4><%= user.name.capitalize %>: <%= com.description %></h4>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 col-md-pull-1 col-sm-pull-1 col-xs-pull-1">
                        <div class="dropdown pull-right">
                          <div class="col-md-4 col-xs-4 col-sm-4 btn-group pull-right">
                            <button class="btn btn1 glyphicon glyphicon-option-horizontal" type="button" data-toggle="dropdown", style="padding-top: 15px"></button>
                            <div class="dropdown-menu">
                              <span class="glyphicon glyphicon-edit" style="padding-left: 5px; padding-right: 10px; margin-top: -5px"></span>
                              <%= link_to 'Edit...', edit_post_comment_path(post_id: post.id,id: com.id), class: "btn btn3" %><br>
                              <span class="glyphicon glyphicon-trash" style="padding-left: 5px; padding-right: 10px; margin-top: -5px"></span>
                              <%= link_to 'Delete...', post_comment_path(post_id: post.id,id: com.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn3" %>
                            </div>  
                          </div>
                        </div>
                      </div>  
                      <% end %>    
                    </div>       
                    <% end %><br>
                    <div class="row">  
                      <% if !comments %>
                        <h4>Be The First One To Comment</h4>
                      <% end %> 
                    </div>
                  </div>       
                  <div class="col-md-4">
                  </div>                
                </div>            
              </div> 
            </div>
          </div> 
        </div>
      </div>            
    <% end %> 
    </div>
  </div>     
    <div class="col-md-3 col-xs-12 col-sm-12 hidden-sm hidden-xs">
      <div class="panel" style="border-radius: 0px; background-color: #F8F8F8">
        <div class="panel-body">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="row">
              <a href="#" class="btn btn7" style="border-radius: 0px; margin-bottom: 5px">5 Requests From Someone</a>
            </div>
            <div class="row">
              <a href="#" class="btn btn7" style="border-radius: 0px; margin-bottom: 5px"><%= image_tag("event-icon.png", size: "20x20") %> 3 Event Invites</a>
            </div>
            <div class="row">  
              <a href="#" class="btn btn7" style="border-radius: 0px;"><%= image_tag("birthday-icon.png", size: "20x20") %> Someone Has a Birthday</a>
            </div>
          </div>
        </div>
      </div>
      <!-- chat -->
      <div class="panel" style="border-radius: 0px; border-right: 1px solid #D0D0D0">
        <div class="panel-heading">
          <h2 class="text-center bold">Chat</h2>
        </div>
        <div class="panel-body">
          <% @users.each do |user| %>
            <% if user != current_user %>
              <div class="row">
                <div class="col-md-3 col-md-push-1 col-sm-4 col-xs-4">
                  <% if user.image.present? %>
                    <%= image_tag user.image.url(:thumb), class: "img-responsive img-circle", size: "30x30" %>
                  <% else %>
                    <h3></h3>
                  <% end %>  
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4"> 
                  <% if user.name %>                          
                    <%= link_to user.name.capitalize, conversations_path(user_id: user), style: "font-size: 130%", class: "bold" %>
                  <% end %>  
                </div>
                <div class="col-md-7 col-sm-4 col-xs-4 col-md-push-4" style="margin-top: 10px">
                  <% if Session.find_by(user_id: user.id) %>     
                    <i class="fa fa-circle" aria-hidden="true" style="color: #40ff00; font-size: 60%"></i>
                  <% else %> 
                    <i class="fa fa-circle" aria-hidden="true" style="color: red; font-size: 60%"></i> 
                  <% end %>
                </div>
              </div><br> 
            <% end %>             
          <% end %> 
        </div>
      </div>
    </div>    
  </div>
</div>

