    <!--  user authentication -->
<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Posts</h1>


  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<% else %>
  <h1>Please Sign In or Sign Up</h1>
  <a class="btn btn-success" href="<%= new_user_session_path %>" role="button">Sign In </a>
  <a class="btn btn-success" href="<%= new_user_registration_path %>" role="button"> Sign Up</a>

<% end %>


