<div class="container">    
      <!--  user authentication -->
  <% if user_signed_in? %>
  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6 text-center coolfont">
      <h1 style="text-decoration: underline">Feed</h1>
    </div>  
  </div>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-2">
      </div>
      <div class="col-md-6 coolfont" align="center" >
        <!-- add user name here!!! -->
        <h3 class="row box text-center">
          <div class="col-md-12">
            <%= @name = User.find(post.user_id).name %>'s Saying: <%= post.description %>
          </div>
          <div class="col-md-12">
            <%= link_to 'Like', post_likes_path(post_id: post), method: :post, class: "btn btn-primary btn-sm pull-left" %>
            <button class="btn btn-primary btn-sm pull-left" type="submit">Comment</button>
          </div>  
        </h3>
        <h5>Created at: <%= post.created_at %></h5><hr>
      </div>     
      <div class="col-md-4 btn-group btn-sm">
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-info", style: "height: 5%" %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info", style: "height: 5%" %>
      </div>
    <% end %> 
  </div>    

  
  <% else %>
    <div class="row">
      <h1>Please sign In Or Sign Up before trying to view or modify the Feed</h1>
    </div>
  <% end %>
</div>
