  
<!-- navbar -->
<nav class="inline navbar-home2 navbar-fixed-top row">
  <div class="container">
    <div class="navbar-header">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-xs-pull-3 col-sm-pull-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded=" " aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <a href="<%= root_path %>"><span class="icon-bar" style="margin-left: -160px"><%= image_tag("fakebook-icon.png", style: "height: 30px; width: 150px") %></span></a>
            <span class="glyphicon glyphicon-user" style="font-size: 200%"></span>  
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>            
          </button>
        </div>        
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="navbar" class="collapse navbar-collapse colp" style="margin-top:10px">
        <div class="col-md-2 hidden-xs hidden-sm">
          <a href="<%= root_path %>"><%= image_tag("fakebook-icon.png", size: "120x30") %></a>
        </div>
        <div class="col-md-4 hidden-xs hidden-sm">
          <ul class="nav navbar-nav navbar-left" style="display: inline">
            <li>              
              <div id="custom-search-input">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-sm" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </span>
                </div>
              </div>
            </li>
          </ul>
        </div>  
        <div class="row hidden-xs hidden-sm text-center visible-md visible-lg">
          <ul class="nav navbar-nav navbar-right" style="display: inline">
            <% if user_signed_in? %>
              <div class="col-md-2">
                <li>
                  <% if current_user.image.present? %>
                    <%= image_tag(current_user.image.url, size: "30x30", class: "img-responsive img-circle") %> 
                  <% end %>  
                </li>
              </div>
              <div class="col-md-2 col-md-pull-1" style="margin-top: 5px;">  
                <li>
                  <% if current_user.name %>
                    <a href="<%= user_path(current_user) %>" class="col" style="font-size:120%"><%= current_user.name.capitalize %></a>
                  <% end %> 
                </li>
              </div>  
            <% end %>
            <div class="col-md-2"> 
              <li>
                <a href="<%= users_path %>"><%= image_tag("friends-icon.png", size: "30x25") %></a>
              </li>
            </div>
            <div class="col-md-2">
              <li>
                <a href="<%= root_path %>"><%= image_tag("messenger-icon.png", size: "25x25") %></a>
              </li>
            </div>
            <div class="col-md-2">                
              <li>
                <a href="<%= root_path %>"><%= image_tag("notifications-icon.png", size: "25x25") %></a>
              </li>
            </div>
          </ul>
          <div class="col-md-2">   
            <div class="dropdown">
              <button class="btn glyphicon glyphicon-triangle-bottom" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color: inherit">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="border-radius: 0px; height: 100%">
                <li><a href="#">Create Group</a></li>
                <li><a href="#">Manage Groups</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Activity Log</a></li>
                <li><a href="#">News Feed Preferences</a></li>
                <li><a href="#">Settings</a></li>
                <% if user_signed_in? %>
                <li style="margin-top: 5px; margin-bottom: 5px;"><%= link_to "Sign_out", destroy_user_session_path, :method => 'delete', class: "btn", id:"drop" %>
                </li>
                <% end %>  
              </ul>
            </div>
          </div>          
        </div>      
        <!-- for smaller screens -->
        <div class="row hidden-md hidden-lg visible-xs visible-sm" style="height: 100%">
          <div class="col-xs-3 col-sm-3" style="margin-right: 10px; margin-top: 5px"> 
            <a href="<%= users_path %>"><%= image_tag("friends-icon.png", size: "30x25") %></a>
          </div>
          <div class="col-xs-3 col-sm-3" style="margin-right: 10px; margin-top: 5px">
            <a href="<%= root_path %>"><%= image_tag("messenger-icon.png", size: "25x25") %></a>
          </div>
          <div class="col-xs-3 col-sm-3" style="margin-right: 10px; margin-top: 5px">                
            <a href="<%= root_path %>"><%= image_tag("notifications-icon.png", size: "25x25") %></a>
          </div>                 
          <div class="dropdown">
            <button class="btn glyphicon glyphicon-triangle-bottom" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color: inherit">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Create Group</a></li>
              <li><a href="#">Manage Groups</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Activity Log</a></li>
              <li><a href="#">News Feed Preferences</a></li>
              <li><a href="#">Settings</a></li>
              <% if user_signed_in? %>
              <li style="margin-top: 5px; margin-bottom: 5px;"><%= link_to "Sign_out", destroy_user_session_path, :method => 'delete', class: "btn", id:"drop" %>
              </li>
            <% end %>  
            </ul>
          </div>
        </div>  
      </div>  
    </div><!--/.navbar-collapse --> 
  </div><!-- /.container-fluid -->  
</nav>