  
<!-- navbar -->
<nav class="inline navbar navbar-fixed-top row">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left" style="display: inline">
        <li><a href="<%= root_path %>"><%= image_tag("social-icon.jpeg", size: "40x40", class: "mr-auto") %></a></li>
        <li>            
          <div class="col-md-5 col-sm-4 col-sm-push-1">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="form-control" placeholder="Search..." />
                  <span class="input-group-btn">
                    <button class="btn btn-info btn-sm" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="navbar" class="collapse navbar-collapse" style="margin-top: -70px">
      <ul class="nav navbar-nav navbar-right" style="display: inline">
        <li><%= image_tag(current_user.image.url, size: "25x25", class: "img-responsive img-circle", style: "margin: 10px") %>
        </li>
        <li><a href="<%= user_path(current_user) %>" class="navbar-brand col"><%= current_user.name %></a></li>
        <li><a href="<%= root_path %>"><%= image_tag("friends-icon.png", size: "30x25", class: "mr-auto") %></a></li>
        <li><a href="<%= root_path %>"><%= image_tag("messenger-icon.png", size: "25x25", class: "mr-auto") %></a></li> 
        <li><a href="<%= root_path %>"><%= image_tag("notifications-icon.png", size: "25x25", class: "mr-auto") %></a></li>
        <li class="navbar-brand">
          <span class="col glyphicon glyphicon-triangle-bottom"></span>
        </li>
        <li class="navbar-brand"></li>
        <li class="navbar-brand"></li>  
      </ul>
    </div>  
      <!--  user authentication -->
<!--       <% if user_signed_in? %>
      <form class="navbar-form navbar-right">
        <p style="color: white">Hello <%= current_user.name %> : <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete', class: "btn btn-success" %></p>
      </form>
      <% else %>
      <div class="navbar-form navbar-right" style="color: white">
        <div>
          <a class="btn btn-success" href="<%= new_user_session_path %>" role="button">Please Sign In </a>
          OR 
          <a class="btn btn-success" href="<%= new_user_registration_path %>" role="button"> Sign Up</a>
        </div>  
      </div>
      <% end %> -->
    </div><!--/.navbar-collapse --> 
  </div><!-- /.container-fluid -->  
</nav>